
<div class="col-md-4">
  <%= form_tag(documents_path, :method => "get", id: "search-form", class: 'form-group') do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search applications...", class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: 'btn btn-default' %>
      </span>
    </div>
  <% end %>
</div>
</div>

<table class="table table-default table-bordered">
<thead>
  <tr>
    <th style="padding: 0px;"><label class="checkLabel" style="display: none"><input type="checkbox" name="" value="" id="checkAll"> Check All</label></th>
    <th>Name</th>
    <th>Department</th>
    <th>Type</th>
    <th>Project Title</th>
    <th>Sponsor</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @documents.each do |document| %>
  <% if document.state == 'new_app' %>
    <tr class="alert-info">
  <% elsif document.state == 'approved' %>
    <tr class="alert-success">
  <% elsif document.state == 'rejected' %>
    <tr class="alert-danger">
  <% elsif document.state == 'needs_revisions' %>
    <tr class="alert-warning">
  <% end %>
      <td style="padding: 0px;"><label class="checkLabel" style="display: none"><input type="checkbox" name="" value="" class="checks"></label></td>
      <td><%= document.fName + " " + document.lName %></td>
      <td><%= document.department %></td>
      <td><%= document.typeOfApplication %></td>
      <td><%= document.project_title %></td>
      <td><%= document.sponsor_name %></td>
      <td><%= document.start_date %></td>
      <td><%= document.end_date %></td>
      <td><%= link_to 'View', document, class: 'btn btn-primary', style: 'color: white'  %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br>

<% if current_user.superadmin_role && @users %>
  <button id="showCheck" type="button" onclick="ShowCheck()" class=" btn btn-default">Assign Documents</button>

<br>
<label class="checkLabel" style="display: none">
Assign Document to:
<form>
<% @users.each do |user| %>
 <input type="checkbox"><%= user.first_name + " " + user.last_name %></input></br>
<%end%>
</form>
<button class=".assignBtn btn btn-default" > Assign </button>
</label>
<% end %>
