<div class="container">

  <h1>Applications</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to 'New', applications_new_apps_path %></li>
        <li role="presentation"><%= link_to 'All', documents_path %></li>
        <li role="presentation" class="active"><%= link_to 'Approved', applications_approved_path %></li>
        <li role="presentation"><%= link_to 'Approved Pending Revisions', applications_needs_revisions_path %></li>
        <li role="presentation"><%= link_to 'Rejected', applications_rejected_path %></li>
        <li role="presentation"><%= link_to 'Archived', applications_archived_path %></li>
      </ul>
    </div><%= render 'apps'%>

</div>
