<div class="container">

  <h1>Applications</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <% if current_user.supervisor_role%>
        <%-# Different tabs based on whos logged in -%>
            <li role="presentation"><%= link_to 'Assignments', applications_assignments_path %></li>
            <li role="presentation" ><%= link_to 'New', applications_new_apps_path %></li>
            <li role="presentation"><%= link_to 'All', documents_path %></li>
            <li role="presentation" class = "active"><%= link_to 'Archived', applications_archived_path %></li>
          </ul>
        <% elsif current_user.readonly_role %>
              <li role="presentation"><%= link_to 'New', applications_new_apps_path %></li>
              <li role="presentation"><%= link_to 'All', documents_path %></li>
              <li role="presentation" class = "active"><%= link_to 'Archived', applications_archived_path %></li>
            </ul>
	   <% else%>
        <li role="presentation"><%= link_to 'My New Applications', applications_new_apps_path %></li>
        <li role="presentation"><%= link_to 'In Progress', applications_approved_path %></li>
		<li role="presentation" class="active"><%= link_to 'Archived', applications_archived_path %></li>
      </ul>
	  <%end%>
    </div>

<%-# Render the partial _apps.html.erb -%>
	<%= render 'apps'%>

</div>
