<div class="container">

  <h1>Applications</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <%-# Display different tabs based on who is signed in -%>
        <% if current_user.supervisor_role%>
          <li role="presentation"><%= link_to 'Assignments', applications_assignments_path %></li>
          <li role="presentation" class="active"><%= link_to 'New', applications_new_apps_path %></li>
          <li role="presentation"><%= link_to 'All', documents_path %></li>
          <li role="presentation"><%= link_to 'Archived', applications_archived_path %></li>

          <% elsif current_user.readonly_role %>
            <li role="presentation" class="active"><%= link_to 'New', applications_new_apps_path %></li>
            <li role="presentation"><%= link_to 'All', documents_path %></li>
            <li role="presentation"><%= link_to 'Archived', applications_archived_path %></li>
          </ul>
        <% else%>
          <li role="presentation" class="active"><%= link_to 'My New Applications', applications_new_apps_path %></li>
          <li role="presentation"><%= link_to 'In Progress', applications_approved_path %></li>
          <li role="presentation"><%= link_to 'Archived', applications_archived_path %></li>

      <%end%>
      </ul>

    </div>

    <% if current_user.superadmin_role %>
      <%-# Everything under this if statement is for the chair only -%>
      <%-# Show the search box -%>
      <div class="col-md-4">
        <%= form_tag(documents_path, :method => "get", id: "search-form", class: 'form-group') do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search applications...", class: 'form-control' %>
          <span class="input-group-btn">

            <%= button_tag(type: "submit", class: "btn btn-default") do %>
                <i class="fa fa-search"></i> Search
            <% end %>

          </span>
          </div>
        <% end %>


    </div>
  <!-- </div> -->

    <%= form_for @assignment, url: applications_assignments_path do |form| %>
    <%-# Create a form for assignments.  Every application needs to be part of this form, so we cant  -%>
    <%-# create a form for each document. -%>
    <div class="table-responsive col-md-10">
      <table class="table table-default table-bordered">
        <thead>
          <tr>
            <th style="padding: 0px;"></th>
            <th>Name</th>
            <th>Project Title</th>
            <th>Department</th>
            <th>Type</th>
            <!-- <th>Start Date</th> -->
            <!-- <th>End Date</th> -->
            <th>Assigned to</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%-# Change the color of the row based on its state -%>
          <% @documents.each do |document| %>
            <% if document.state == 'new_app' %>
              <tr class="alert-info">
            <% elsif document.state == 'approved' %>
              <tr class="alert-success">
            <% elsif document.state == 'rejected' %>
              <tr class="alert-danger">
            <% elsif document.state == 'needs_revisions' %>
              <tr class="alert-warning">
            <% end %>
            <%-# This is the sloppy part of the application.  We get EVERY assignment and loop through it -%>
            <%-# for every row to see who it's assigned to.  I know theres a better way to do this I'll get back to it -Kyle -%>
                      <% @str = "" %>
                      <% @first = true %>
                      <% @a.each do |a| %>
                        <% if a.document_id == document.id %>
                          <% if @first %>
                            <% @str += @users.find(a.user_id).first_name + " " + @users.find(a.user_id).last_name; @first = false %>
                            <% else %>
                              <% @str += ", " + @users.find(a.user_id).first_name + " " + @users.find(a.user_id).last_name %><% end %>
                            <% end %>
                          <% end %>
                          <%-# Create a checkbox and make it's value the documents ID so we can pass them through the form -%>
                              <td><input type="checkbox" name="document_id[]" value="<%= document.id %>"></td>
                              <%-# List out the other common/needed fields so we can easily identify which application is which -%>
                              <td><%= document.fName + " " + document.lName %></td>
                              <td><%= document.project_title %></td>
                              <td><%= document.department %></td>
                              <% if document.typeOfApplication == 'not_sure' %>
                                <td><%= "not sure" %></td>
                              <% else %>
                                <td><%= document.typeOfApplication %></td>
                              <% end %>
                              <!-- <td><%= document.start_date %></td> -->
                              <!-- <td><%= document.end_date %></td> -->
                              <td><%= @str %></td>
                              <td><%= link_to document, class: 'btn btn-primary', style: 'color: white' do %>
                                  <i class="fa fa-eye"></i> View
                                <% end %>
                              </td>
                            </tr>
                              <% end %>
                            </tbody>
                          </table>
                          <%-# Paginate the applications -%>
                          <%= will_paginate @documents, :renderer => BootstrapPagination::Rails %>
                        </div>
                        <br>
                        <br>
                        <div class="table-responsive col-md-2">
                          <table class="table table-default table-bordered">
                            <thead>
                              <%-# This table is to list out the board members so you can assign applications to them -%>
                              <tr>
                                <th style="padding: 0px;"></th>
                                <th>Board Member</th>

                            </tr>
                          </thead>

                          <tbody>
                            <% @users.each do |user| %>
                              <tr>
                                <%-# List out each board member and make each value their ID so it gets passed through the form -%>
                                <td><input type="checkbox" name="user_id[]" value="<%= user.id %>"></td>
                                <td><%= user.first_name + " " + user.last_name %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                        <%= submit_tag('Assign', class: 'btn btn-primary', id: 'btnAssign') %>
                        <%= submit_tag('Delete', class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete the assignment(s)?"}) %>
                      </div>
                    <% end %>
                  </div>
                  <%-# If the current user is NOT chair, just display the _apps.html.erb partial table instead -%>
                <% else %>
                  <%= render 'apps'%>
                <% end %>
</div>
