<div class="container">
  <h2>Your application is <span style="color: #ec971f">Approved Pending Revisions</span></h2>
  <h4>Please revise your application based on the comments provided and hit resubmit once
  you are finished</h4>
<div class="row">
  <div class="col-md-9">
  <div class="well">
    <h2>Section 1</h2>
    <div class="row">
      <div class="col-md-4">
        <strong>First Name</strong> <br>
        <%= @document.fName %>
      </div>
      <div class="col-md-4">
          <strong>Last Name</strong><br>
          <%= @document.lName %>
      </div>
      <div class="col-md-4">
          <strong>Phone</strong><br>
          <%= @document.phone %>
      </div>
    </div> <!-- end first row -->
    <div class="row application">
      <div class="col-md-4">
        <strong>AU Email</strong><br>
        <%= @document.email %>
      </div>
      <div class="col-md-4">
        <strong>Address</strong><br>
        <%= @document.address %>
      </div>
      <div class="col-md-4">
        <strong>Department</strong><br>
        <%= @document.department %>
      </div>
    </div> <!-- end second row -->
    <div class="row application">
      <div class="col-md-4">
        <strong>Type of Application</strong><br>
        <%= @document.typeOfApplication %>
      </div>
    </div> <!-- end third row -->
  </div><!-- End section 1 -->
  <div class="well">
    <h2>Section 2</h2>
    <div class="row">
      <div class="col-md-6">
        <strong>Research Project Title</strong><br>
        <%= @document.project_title %>
      </div>
      <div class="col-md-6">
        <strong>Sponsor Name</strong><br>
        <%= @document.sponsor_name %>
      </div>
    </div> <!-- end row 1  -->
    <div class="row application">
      <div class="col-md-6">
        <strong>Project Start Date</strong><br>
        <%= @document.start_date %>
      </div>
      <div class="col-md-6">
        <strong>Project End Date</strong><br>
        <%= @document.end_date %>
      </div>
    </div> <!-- end row 2 -->
    <div class="row application">
      <div class="col-md-12">
        <strong>Research Question</strong><br>
        <%= @document.research_question %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
        <strong>Brief Literature Review</strong><br>
        <%= @document.lit_review %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
        <strong>Project description and the procedures to be followed.  You may
          attach a copy of your procedure</strong><br>
        <%= @document.procedure %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
        <strong>Describe the pool of subjects</strong><br>
        <%= @document.pool_of_subjects %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
          <strong>Describe how the subjects will be recruited</strong><br>
          <%= @document.sub_recruitment %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
          <strong>Describe the risks involved in your project</strong><br>
          <%= @document.risks %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
          <strong>How will the subjects be informed that
            they do not have to participate in the study, and that they may withdraw
              at any time with no penalty?</strong><br>
          <%= @document.opt_participation %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
        <strong>In what way have the confidentiality and privacy of the subjects’
          responses been ensured?</strong><br>
        <%= @document.confidentiality %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
        <strong>Has consent been obtained from the authorities where the
           research is to be conducted?</strong><br>
        <%= @document.authorities_consent %>
      </div>
    </div>
  </div> <!-- end Section 2 -->
  <div class="well">
    <h2>Section 3</h2>
    <div class="row">
      <div class="col-md-12">
          <strong>Subjects consent:</strong><br>
          <%= @document.subjects_consent %>
      </div>
    </div>
    <div class="row application">
      <div class="col-md-12">
          <strong>Parental consent:</strong><br>
          <%= @document.parental_consent %>
      </div>
    </div>
  </div>
  <div class="well">
    <h2>Section 4</h2>
    <p>
      <strong>List of Questions: </strong>
      <%= link_to "Download PDF", @document.questions_file_url %>
    </p>

    <p>
      <strong>Copy of Consent Form: </strong>
      <%= link_to "Download PDF", @document.consent_file_url %>
    </p>

    <p>
      <strong>Copy of Child Assent Form: </strong>
      <%= link_to "Download PDF", @document.child_assent_file_url %>
    </p>

    <p>
      <strong>Copy of Human Subjects Research Certificate: </strong>
      <%= link_to "Download PDF", @document.hsr_certificate_file_url %>
    </p>

    <p>
      <strong>Written permission from the site where the research is to be conducted (if applicable):</strong>
      <%= link_to "Download PDF", @document.written_permission_file_url %>
    </p>
    <div class="row application">
      <div class="col-md-12">
          <strong>Advisor sig:</strong><br>
          <%= @document.advisor_sig %>
      </div>
    </div>
  </div> <!-- end section 4 -->
</div><!-- end left side -->
  <div class="col-md-3"> <!-- Comment section -->
    <h3 style="margin-top: 0">Comments</h3>
    <div class=" comment-block">
      <p class="comment"><strong>Tom Cruise</strong> Section 2 needs more in the procedure</p>
      <p class="comment-time">1 hr</p>
    </div>
    <div class=" comment-block">
      <p class="comment"><strong>Tom Cruise</strong> Section 2 needs more in the procedure</p>
      <p class="comment-time">1 hr</p>
    </div>
    <div class=" comment-block">
      <p class="comment"><strong>Tom Cruise</strong> Section 2 needs more in the procedure</p>
      <p class="comment-time">1 hr</p>
    </div>
    <div class=" comment-block">
      <p class="comment"><strong>Tom Cruise</strong> Section 2 needs more in the procedure</p>
      <p class="comment-time">1 hr</p>
    </div>
    <div class=" comment-block">
      <p class="comment"><strong>Tom Cruise</strong> Section 2 needs more in the procedure</p>
      <p class="comment-time">1 hr</p>
    </div>
    <textarea rows="4" class="form-control txtComment" id="txtCommentBox" placeholder="Write a comment..."></textarea>
    <button type="button" id="btnSubmitComment" class="btn btn-primary">Submit</button></br>
	<div class="text-center">
	<div></br>
	<button type="button" id="approve" class ="btn-success">Approve</button>
	</div></br>
	<div>
	<button type="button" id="appoverevisions" class ="btn-warning">Approve Pending Revisions</button>
	</div></br>
	<div>
	<button type="button" id="reject" class ="btn-danger">Reject</button>
	</div>
	</div>
	</div>
  </div> <!-- end comment section -->
</div><!-- end page row -->

  <%= link_to 'Back', documents_path, class: 'btn btn-default' %>

</div>
