<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @document.fName %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @document.lName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @document.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @document.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @document.address %>
</p>

<p>
  <strong>Department:</strong>
  <%= @document.department %>
</p>

<p>
  <strong>Typeofapplication:</strong>
  <%= @document.typeOfApplication %>
</p>

<p>
  <strong>Project title:</strong>
  <%= @document.project_title %>
</p>

<p>
  <strong>Sponsor name:</strong>
  <%= @document.sponsor_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @document.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @document.end_date %>
</p>

<p>
  <strong>Research question:</strong>
  <%= @document.research_question %>
</p>

<p>
  <strong>Lit review:</strong>
  <%= @document.lit_review %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @document.procedure %>
</p>

<p>
  <strong>Pool of subjects:</strong>
  <%= @document.pool_of_subjects %>
</p>

<p>
  <strong>Sub recruitment:</strong>
  <%= @document.sub_recruitment %>
</p>

<p>
  <strong>Risks:</strong>
  <%= @document.risks %>
</p>

<p>
  <strong>Opt participation:</strong>
  <%= @document.opt_participation %>
</p>

<p>
  <strong>Confidentiality:</strong>
  <%= @document.confidentiality %>
</p>

<p>
  <strong>Authorities consent:</strong>
  <%= @document.authorities_consent %>
</p>

<p>
  <strong>Subjects consent:</strong>
  <%= @document.subjects_consent %>
</p>

<p>
  <strong>Parental consent:</strong>
  <%= @document.parental_consent %>
</p>

<p>
  <strong>Advisor sig:</strong>
  <%= @document.advisor_sig %>
</p>

<p>
  <strong>State:</strong>
  <%= @document.state %>
</p>
<p>
  <strong>Archived:</strong>
  <%= @document.is_archived %>
</p>

<p>
  <%= link_to "Download PDF", @document.questions_file_url %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
