<html>
<div class="container">
<%= form_tag(irb_FormApps_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<button id="showCheck" type="button" onclick="ShowCheck()">Assign Documents</button>
<% end %></br>
<table class="table">  
<tr>
    <th> <label class="checkLabel" style="display: none"><input type="checkbox" name="" value="" id="checkAll"> Check All</label></th>                        
    <th>id</th>
    <th>First Name</th>
	<th>Last Name</th>
    <th>Phone</th>
	<th>Email</th>
    <th>Type</th>
	<th>Date Submitted</th>
    <th>Advisor Signature</th>
  </tr>
<% @data.each do |data| %> 
  <tr>
    <th> <label class="checkLabel" style="display: none"><input type="checkbox" name="" value="" class="checks"></label> </th>
    <td><%= data.id %></td>
    <td><%= data.fName %></td>
	<td><%= data.lName %></td>
	<td><%= data.phone %></td>
    <td><%= data.email %></td>
	<td><%= data.typeOfApplication %></td>
    <td><%= data.created_at %></td>
	<td><%= data.advisor_sig %></td>
  </tr>
<% end %>                      
</table> 
<label class="checkLabel" style="display: none">
    <th> Assign Document to: </th> 
    <select class=".assignCombo" > Choose Board Members...</select>
    <button class=".assignBtn" > Assign Members! </button>
    </label>
</div>
</html>