<!DOCTYPE html>
<html>
  <head>
    <title>Aurora University Institutional Review Board</title>
    <%= csrf_meta_tags %>
    <%-# Make the page responsive -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%-# CSS links -%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%-# JS links -%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Navigation -->
   <nav class="navbar navbar-default" role="navigation">
     <div class="container">

     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
           <span class="sr-only">Toggle Navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
      </button>
         <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag('aulogo.png', class:'logo') %>
          <% end %>
     </div>
     <div class="collapse navbar-collapse" id="main-nav-collapse">


       <% if user_signed_in? %>

       <% if current_user.superadmin_role %>
       <%-# If the current person is signed in AND is a chair, display these links -%>
       <ul class="nav navbar-nav navbar-right">

         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Applications", applications_new_apps_path %></li>
         <li><%= link_to "New Application", new_document_path %></li>
       </ul>
       <%-# Display these links to board members -%>
       <% elsif current_user.supervisor_role%>
       <ul class="nav navbar-nav navbar-right">

         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Applications", applications_assignments_path %></li>
         <li><%= link_to "New Application", new_document_path %></li>
       </ul>
       <%-# Display these links to a readonly board member -%>
       <% elsif current_user.readonly_role%>
       <ul class="nav navbar-nav navbar-right">

         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Applications", documents_path %></li>
         <li><%= link_to "New Application", new_document_path %></li>
       </ul>

       <%-# Display these links to a regular user -%>
       <% else %>

       <ul class="nav navbar-nav navbar-right">

         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Applications", applications_new_apps_path %></li>
         <li><%= link_to "New Application", new_document_path %></li>
       </ul>

       <% end %>
       <% end %>
   </div>

 </div>
    </nav>
    <!-- End Navigation -->


    <p class="text-center">
    <%-# If the user is signed in then displays who is currently logged in. -%>
    <%-# Underneath who is logged in, it links to editing his/her profile, and -%>
    <%-# links to logging out. -%>
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <%-#IF the user is not signed in, then link to sign up or login page -%>
    <% end %>
    </p>

    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>">
          <%= msg.html_safe %>
          <a class='close' data-dismiss='alert'>&times;</a>
        </div>
      <% end %>
    </div>
    <%-# This yields the content of all the other pages.  Technically Ruby on Rails uses a one page system -%>
    <%= yield %>
    <!-- Footer -->
    <div class="container footer">
      <hr>
      <div class="pull-left">
        &copy; <%= Time.current.year %> <a href="http://aurora.edu">Aurora University</a>
      </div>
    </div>
    <!-- End Footer -->
  </body>
</html>
